[Unit]
Description=Run juhe-proxy-switch every 2 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
Unit=juhe-proxy-switch.service

[Install]
WantedBy=timers.target
